<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ui">

    <application>
        <provider
            android:name="org.ui.AppInitiator"
            android:authorities="${applicationId}.initiatorprovider"
            android:exported="false" />
    </application>
</manifest>
